version: "3"
services:
  flame:
    image: ${DOCKER_IMAGE}
    container_name: "{{ container_name }}"
    user: root
    environment:
      - "TZ=Asia/Seoul"
      - "PASSWORD={{ flame_password }}"
    ports:
      - {{ flame_port }}:5005
    volumes:
      - {{ flame_data }}:/app/data
    restart: unless-stopped
{% if use_dkr_net %}
    networks:
      - {{ dkr_network }}

networks:
  {{ dkr_network }}:
    external: true
{% endif %}
