version: "3"
services:
  flame:
    image: ${DOCKER_IMAGE}
    container_name: "{{ container_name }}"
    user: root
    environment:
      - "TZ=Asia/Seoul"
      - "PASSWORD={{ flame_password }}"
{% if use_traefik %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flame.entrypoints=web,websecure"
      - "traefik.http.routers.flame.rule=Host(`${trf_domain}`)"
    {% if use_traefik_tls %}
      - "traefik.http.routers.flame.tls=true"
    {% endif %}
{% endif %}
    ports:
      - {{ flame_port }}:5005
    volumes:
      - {{ flame_data }}:/app/data
    restart: unless-stopped
{% if use_dkr_net %}
    networks:
      - {{ dkr_network }}

networks:
  {{ dkr_network }}:
    external: true
{% endif %}
