version: "3"
services:
  flame:
    image: ${DOCKER_IMAGE}
    container_name: "{{ container_name }}"
    user: root
    environment:
      - "TZ=Asia/Seoul"
      - "PASSWORD={{ flame_password }}"
    ports:
      - 5005:5005
    volumes:
      - {{ flame_data }}:/app/data
    restart: unless-stopped
